[Desktop Entry]
Name=SublimeText3
GenericName=Sublime Text 3
Comment=Edit text files
Keywords=Plaintext;Write;
Exec=sublime3 %U
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;TextEditor;IDE;Development
X-GNOME-FullName=Sublime Text 3
Name[en_US]=sublime
